// Responsiveness Settings
$small-width: 240px;// Mobile
$medium-min-width: 768px;// tablet
$medium-width: 1024px; //Tablet Landscape                 
$document-width: 90%;// Default Document

$margin-auto: 0 auto;

// Typography
$defaultFont: Helvetica Neue, Roboto, sans-serif;
$defaultSpacing: rem(0.5);

// Sizes
$default: rem(16);
$large: rem(14);
$medium: rem(12);
$small: rem(11);
$extraSmall: rem(10);

$global-radius: rem(3);

// Color
$black: #000;
$lightBlack: #333;
